body
{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color:#74ce77;
}
.header_div
{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding: 0px;
}
.header_div h1
{
    margin-left: 0;
    margin-right: 0;
    font-size: 50px;
    margin-bottom:0px;
}
#pic2
{
    width: 250px;
    height: 250px;
    margin-top:100px;
    padding:0px;
    float: left;
    padding: 0px;
    margin-left: 100px ;
}
#pic1
{
    width: 250px;
    height:250px;
    float: left;
    padding:0px;
    margin-left: 100px;
}
.questions_div button
{
    width: 300px;
    height: 100px;
    margin-right: 200px;
    border-radius: 10px;
    background-color: #c3dfc4;
}
.questions_div
{
    float: right;
}
.questions_div h2
{
    margin-left: 125px;
}
.game_div
{
    float: left;
    bottom: 0;
    width: 100%;
    padding: 100px;
}
.game_div img
{
    width: 50px;
    height: 50px;
}
#road
{
    float: left;
    width: 80%;
    height: 50px;
}