body 
{
    background-color: #74ce77;
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
}

.container 
{
    padding: 20px;
}

button 
{
    background-color: #c3dfc4;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
}

#piggy, #coins 
{
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

#piggy,
#coins 
{
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

@media (min-width: 600px) 
{
    #piggy 
    {
        width: 200px;
        height: 200px;
        margin-left: 80px; /* Adjust the left margin */
        margin-top: 80px;
        position: absolute;
        left: 0;
        top: 0;
    }

    #coins 
    {
        width: 200px;
        height: 200px;
        margin-right: 80px; /* Adjust the right margin */
        margin-top: 80px;
        position: absolute;
        right: 0;
        top: 0;
    }
}