<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/end.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <br> <br> <br> <br>
        <h1>You Won!</h1>
        
        <p class="winner"> PNC Piggy made it to the bank! </p>
           
        <img id="bank" src="../static/images/bank.png" alt="Bank Image">
        <img id="piggy" src="../static/images/piggy.png" alt="Piggy Image">

        <button onclick="playAgain()">Play Again</button>
    </div>

    <script>
        function playAgain() 
        {
           window.location.href = "start.html";
        }
    </script>
    
</body>
</html>