<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/questions.css">
    <script type="text/javascript" src="../static/js/questions.js"></script>
    <title>Questions</title>
</head>
<body>
    <div>
        <div class="header_div">
            <h1>PiggyBankers</h1>
            <br><br><br><br>
        </div>
        <img id = pic2 src="../static/images/piggy.png" alt="">
        <img id = pic1 src="../static/images/speech.png" alt="">
        <br>
        <div class="questions_div">
            <button id="option1" onclick = "checkAnswer('A')">Option 1</button><br>
            <h2>OR</h2>
            <button id="option2" onclick = "checkAnswer('B')">Option 2</button>
        </div>
    </div>
    
    <div class="game_div" >
        <img src="../static/images/piggy.png" alt="">
        <br>
        <img id = "road" src="../static/images/road.png" alt="">
        <img id ="bank" src="../static/images/bank.png" alt="">
    </div>


</body>
</html>
