<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/questions.css">
    <title>Questions</title>
</head>
<body>
    <div class="header_div">
        <br><br>
        <h1>PiggyBankers</h1>
        <br><br><br><br>
    </div>
    <img id = pic2 src="../static/images/piggy.png" alt="">
    <img id = pic1 src="../static/images/speech.png" alt="">
</body>
</html>
